@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Open Sans', 'Times New Roman', Times, serif;
}

body{
    background-color: var(--Cor4);
    justify-content: center;
    display: block;
}

.head{
    padding: 1.3rem;
    background-color: var(--Cor4);
    display: flex;
    align-items: center;
    justify-content: space-around;
}





.icon{
    height: 7rem;
}



.corpo{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--Cor3);
    
}

.content{
    color: aliceblue;
    display: flex;
    justify-content: center;
}

table{
    margin-top: 1rem;
    background-color: rgb(151, 252, 0);
    border-collapse: collapse;
}

td, tr, th{
    border: 1px solid black;
    padding: 10px;
}



